body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    width: 100%;
}
.heroes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
li{
    list-style: none;
    display: flex;
    padding: 10px;
    color: aliceblue;
}
ul{
    display: flex;
    justify-content: start;
    align-items: center;
}
li a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
li a:hover{
    color: #333;
    background-color: whitesmoke;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}